$bg: #27262c;
.footer-container {
  background-color: $bg;
  padding: 2.5rem 1rem;

  &__coin-button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__theme-language {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 0;
  }
}
