// light theme
$white: #faf9fa;
$accent: #1fc7d4;
$purple: #7645d9;
$dark-purple: #280d5f;
$light-purple: #7a6eaa;
$light-purple-2: #b8add2;

// dark theme
$white-dark: #08060b;
$accent-dark: #1fc7d4;
$purple-dark: #9a6aff;
$dark-purple-dark: #f4eeff;
$light-purple-dark: #b8add2;
